body{
    background-color:blanchedalmond
}
#image {
    border-radius: 100px;
    position:absolute;
    left: 25%;
    top: 30%;

    
}
#paragraph{
    position: absolute;
    font-size: 20px;
    left: 45%;
    top: 35%;
    
}
p{
    font-family:Arial, Helvetica, sans-serif
}
#homeButton{
    position: absolute;
    left: 55%;
    top: 40%;
}
#resumeButton{
    position: absolute;
    left: 60%;
    top: 40%;
}
#socialsButton{
    position: absolute;
    left: 65.5%;
    top: 40%
}
#description{
    position: absolute;
    font-weight: bold;
    left: 45%;
    top: 45%;
    margin-right: 10%;
}