body{
    background-color:blanchedalmond
}
#image {
    border-radius: 100px;
    position:absolute;
    left: 20%;
    top: 30%;

    
}
#paragraph{
    position: absolute;
    font-size: 20px;
    left: 45%;
    top: 35%;
    
}
p{
    font-family:Arial, Helvetica, sans-serif
}
#homeButton{
    position: absolute;
    left: 55%;
    top: 40%;
}
#resumeButton{
    position: absolute;
    left: 60%;
    top: 40%;
}
#socialsButton{
    position: absolute;
    left: 65.5%;
    top: 40%
}
#description{
    position: absolute;
    font-weight: bold;
    left: 45%;
    top: 45%;
    margin-right: 10%;
}

.image{
    width: 12%;
    display:block;
    margin: 0 auto;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 85%;
  text-align: center;
  top: 75%;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window {
  & > div {
    border-radius: 1rem;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

